<%- include("partials/header"); -%> 

<h1>Contact</h1>
<p> <%= contactContent %> </p>
<ul><a href="israzahid.q@gmail.com">Email</a></ul>
<ul><a href="https://www.linkedin.com/in/isra-zahid/">LinkedIn</a></ul>

<%- include("partials/footer"); -%> 
